<div class="card rounded-0 shadow p-3">
    <div class="date">
        <h5 class="fw-normal">{{eachDay.date|date}}</h5>
    </div>
    <div class="icon text-center">
        <img src="{{eachDay.day.condition.icon}}" alt="" width="64px" height="64px">
    </div>
    <div class="description">
        <p class="mb-0">Max Temp: {{eachDay.day.maxtemp_c}}<sup>&deg;</sup>C</p>
        <p>Min Temp: {{eachDay.day.mintemp_c}}<sup>&deg;</sup>C</p>
    </div>
    <div class="condition">
        <h6>
            {{eachDay.day.condition.text}}
        </h6>
    </div>

</div>